.header-wrapper .logo-wrapper h1.ja {
  font-size: 58px;
  margin-bottom: 60px;
}

.content-wrapper .adnow-wrapper .ja .work-with-us p {
  font-weight: bold;
}

.header-wrapper .logo-wrapper h1.ja.home-page-baner   {
  font-size: 50px;

}